.popover {
  /* --po-height: calc(3.5em + 145px); */
  position: absolute;
  display: none;
  flex-flow: column;
  right: 100%;
  width: 250px;    
  height: var(--po-height);    
  height: 200px;
  background-color: #373a44;
  border: 1px solid black;
  box-shadow: 0 4px 6px -2px rgba(0,0,0,0.1),0 10px 15px -3px rgba(0,0,0,0.15);
  border-radius: .5em;
  transition: height .4s ease-out;
  z-index: 9;
  /* transform: translate(-100px, -100%); */
}
.popover.is_open {
  display: flex;
}
.body {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.bottom_nav {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  padding: 1em .5em;
  /* border-top: 1px solid black; */
}

.nav_btn {
  position: relative;
  flex: 1;
  height: 100%;
  background-color: transparent;
  border: 0;
  outline: 0;
  box-shadow: 0;
  padding: 0;
  margin: 0;
  color: #b0b0b5;
  cursor: pointer;
}
.nav_btn:hover {
  color: #67ffc8;
}

.menu_list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: .5em;
  opacity: 1;
  transform: translateX(0%);
  transition: transform .4s ease-out, opacity .2s ease-out;
}
.menu_list.hide_menu {
  opacity: 0;
  transform: translateX(-100%);
}
.menu_list ul {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}
.menu_list ul li {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  height: 30px;
  padding: .25em;
  padding: 0;
  margin: 0;
  border-radius: .25em;
  font-family: 'Roboto', sans-serif;
  color: #b0b0b5;
  cursor: pointer;
}
.menu_list ul li:hover {
  color: snow;
  background-color: rgb(44,46,56);
}
.menu_list ul li > span:first-child {
  display: flex;
  align-items: center;
  flex: 1;
}




.menu {
  position: absolute;
  display: flex;
  flex-flow: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: .5em;
  opacity: 0;
  transform: translateX(100%);
  transition: transform .4s ease-out, opacity .4s ease-out;
}

.header {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  padding: .5em 0;
  padding-bottom: .25em;
}
.header_btn {
  position: relative;
  width: 2.75em;
  padding: .25em;
  margin: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  box-shadow: 0;
  color: #b0b0b5;
  cursor: pointer;
}
.header_btn:hover {
  color: snow;
}
.title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-family: 'Roboto', sans-serif;
  color: #b0b0b5;
}
.title_placeholder {
  position: relative;
  width: 2.75em;
}



.menu.show_menu {
  opacity: 1;
  transform: translateX(0%);

}
.search_row {
  position: relative;
  width: 100%;
  padding: .5em .75em;
}
.search_input {
  position: relative;
  width: 100%;
  padding: .45em .45em;
  border: none;
  outline: 0;
  border: 2px solid rgba(0, 0, 0, 0.837);
  background-color: transparent;
  box-shadow: none;
  border-radius: .25em;
  font-size: 1rem;
  caret-color: snow;
  font-family: 'Roboto', sans-serif;
  color: snow;
  transition: border .2s linear;
}
.search_input::placeholder {
  color: #b0b0b5a6;
}
.search_input:focus {
  border-color: #67ffc8;
  border-width: 2px;

}

.list {
  position: relative;
  flex: 1;
  width: 100%;
  /* background-color: #67ffc8; */
}
.list ul {
  position: relative;
  width: 100%;
}
.list ul li {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: 40px;
  padding-left: .5em;
  border-radius: .25em;
  cursor: pointer;
  /* padding: .5em; */
}
.list ul li:hover {
  background-color: rgb(44,46,56);
}

.list ul li.selected {
  background-color: rgb(44,46,56);
}
.list ul li.selected .name {
  color: #67ffc8;    
}

.initials {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  padding-left: 1.5px;
  padding-top: .5px;
  font-family: 'Roboto', sans-serif;
  font-size: 9.5px;
  color: snow;    
  background-color:black;
}
.initials > div {
  position: relative;
  width: 14px;
  height: 14px;            
}
.name {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  padding-left: .5em;
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
  color: snow;
}
.checkbox {
  position: relative;
  width: 35px;
}