.tasklist_item {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: .5em;
  /* height: calc(60px + 1.5em);     */
  border-radius: .25em;
  background-color: rgb(56, 58, 68);
  background-color: #373a44;
  box-shadow: 0 4px 6px -2px rgba(0,0,0,0.1),0 10px 15px -3px rgba(0,0,0,0.15);    
}



.taskitem_status_indicator {
  position: relative;
  width: 10px;
  border-radius: .25em 0 0 .25em;
  transition: background-color .4s ease-out;
  cursor: grab;
}

.taskitem_status_indicator.new {
  background-color: rgba(255,255,255,0);
}

.taskitem_status_indicator.complete {
  background-color: rgba(68,214,44,1);
}
.taskitem_status_indicator.holding {
  background-color: rgba(255,173,0,1);
}
.taskitem_status_indicator.seen {
  background-color: rgba(0, 150, 255,1);
}
.taskitem_status_indicator.delayed {
  background-color: rgba(255, 49, 49,1);
}

.taskitem_status_indicator.started {
  background-color: rgba(255, 240, 31,1);
}


.taskitem_content {
  position: relative;
  display: flex;
  flex-flow: column;
  flex: 1;
  padding: 1.25em .75em;
  box-shadow: -1px 0 4px 1px #373a447d;
  /* background-color: chartreuse; */
}

.taskitem_nav {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: .75em;
  /* background-color: fuchsia; */
}

.title {
  position: relative;
  padding: 0 .5em 1em 0;
}
.title > h1 {
  visibility: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;   
}
.title > div {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.body {
  max-height: 125px;
  padding-left: .5em;    
  font-family: 'Roboto', sans-serif;
  color: #b0b0b5;
  overflow-y: scroll;
}
.body::-webkit-scrollbar {
  width: 0;
}

.option_btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* top: .5em;
  right: .5em; */
  width: 30px;
  height: 30px;
  border: 0;
  outline: 0;
  background-color: transparent;
  text-align: center;
  box-shadow: 0;
  z-index: 9;
  opacity: 0;
  cursor: pointer;    
  transition: opacity .5s ease-in-out;
}

.task_item:hover .option_btn {
  opacity: 1;
}

.task_item:hover .option_btn:hover {
  color: red;
}

.contact {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;    
  width: 30px;
  height: 30px;
  padding-top: .25em;
  border-radius: 50%;
  background-color: rgb(143,183,117);
  font-size: .8rem;
  color: black;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

