.tasklist_item_menu_container {
  --height: 180px;
  --width: 225px;
  display: flex;
  flex-direction: column;
  width: var(--width);
  height: var(--height);
  max-height: 350px;
  transition: height .4s ease-out, width .4s ease-in-out;
}
.body {  
  position: relative;
  flex: 1;
  width: 100%;
  overflow-y: clip;
  overflow-x: visible;
}

.bottom_nav {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  padding: .75rem .5rem;
  /* border-top: 1px solid black; */
}
.nav_btn {
  position: relative;
  flex: 1;
  height: 100%;
  background-color: transparent;
  border: 0;
  outline: 0;
  box-shadow: 0;
  padding: 0;
  margin: 0;
  color: #b0b0b5;
  cursor: pointer;
}
.nav_btn:focus {
  border: 0;
  outline: none;
  color: #67ffc8;
}
.nav_btn:hover {
  color: #67ffc8;
}