.column {
    position: relative;
    flex: 1;    
    display: flex;
    flex-direction: column;
    gap: .75rem;
    min-width: 500px;
    max-width: 500px;
    padding: 2rem 2rem;
    border-radius: 8px;
    border: 1px solid black;    
    border: 2px solid color-mix(in srgb, var(--site-panel-background-color) 95%, #fff 5%);    
}



.header {
  position: relative;
  padding: .75em;
  text-align: center;
  border-radius: 8px;  
  background-color: var(--site-panel-background-color);
  border-radius: 9px;
}
.header h1 {
  font-family: var(--site-font-family);
  font-weight: 700;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  font-size: 2.5rem;
  color: var(--site-text-color);
  padding: 0;
  margin: 0;
}
.header_button {
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
}