.add_task_form {
  position: relative;
  width: 100%;
}


.form {
  position: relative;
  width: 100%;
  padding: .5rem .75rem;
}

.form_content {
  position: relative;
  padding: .75em 0 .75em 0;
}



.input_row {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding: .5em 0;
}



.board_input {
  position: relative;
  display: inline-block;
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;  
  font-size: 1rem;
  caret-color: #b0b0b5;
  color: snow;
  transition: color .8s ease-in-out;
}

input[type=text].board_input {
  height: 32px;
  font-family: 'Roboto', sans-serif;
}


.board_input::placeholder {
  color: hsla(158, 100%, 70%, 0.60);
}
.board_input:focus::placeholder {
  color: #67ffc8;
}

.board_input[data-error="true"] {
  border-bottom: 1px solid red;  
  -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
.board_input[data-error="true"]::placeholder,
.board_input[data-error="true"]:focus::placeholder {
  color: red;
}




.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: .75em 0;
}

.add_btn {
  display: inline-block;
  box-sizing: border-box;
  height: 32px;
  margin: 0px;
  padding: 0px 16px;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;    
  line-height: 1;    
  text-decoration: none;
  font-size: 0.875rem;
  user-select: none;
  cursor: pointer;
  text-align: center;
  border: none;
  transition: all 0.3s ease 0s;    
  background-color: #67ffc8;;
  border-radius: 999px;
  color: #373a44;
}

.close_btn {    
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;    
  line-height: 1;
  margin: 0px;
  margin-left: .5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-decoration: none;
  font-size: 0.875rem;
  user-select: none;
  cursor: pointer;
  text-align: center;
  border: none;
  transition: all 0.3s ease 0s;
  height: 24px;
  background-color: transparent;
  color: #b0b0b5;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  width: 24px;
  border-radius: 4px;
}

.close_btn svg {
  color: #89898e;
}
.close_btn:hover svg {
  color: red;
}


.options_btn {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  font-weight: 500;
  line-height: 1;
  margin: 0px;
  margin-right: .5em;
  text-decoration: none;
  font-size: 0.875rem;
  user-select: none;
  cursor: pointer;
  text-align: center;
  border: none;
  transition: all 0.3s ease 0s;
  height: 24px;
  background-color: transparent;
  color: #b0b0b5;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  width: 24px;
  border-radius: 4px;
}

.assign_btn {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  font-weight: 500;
  line-height: 1;
  margin: 0px;
  text-decoration: none;
  font-size: 0.875rem;
  user-select: none;
  cursor: pointer;
  text-align: center;
  border: none;
  transition: all 0.3s ease 0s;
  height: 24px;
  background-color: transparent;
  color: #b0b0b5;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  width: 24px;
  border-radius: 4px;
}



 @-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}



 @-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  80% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  90% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  80% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  90% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
}
