.add_task_form {
  position: absolute;
  bottom: 0%;
  width: 100%;
  transform-origin: bottom;
  background-color: #373a44;  
  border-radius: 8px;
  opacity: 0;
  transform: scale(.1);
  box-shadow: rgba(0, 0, 0, 0.45) 0px -25px -20px 20px;
  transition: all .3s ease-in-out;
  z-index: 999999;
}
.add_task_form.show_form {
  opacity: 1;
  transform: scale(1);
}




.form_content {
  position: relative;
  width: 100%;
  padding: 0 0 0.75rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: .5rem;
}











.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0em 0;
}

.nav_section {
  display: flex;
  gap: 1rem;
}

.add_btn {
  display: inline-block;
  box-sizing: border-box;
  height: 32px;
  margin: 0px;
  padding: 0px 16px;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;    
  line-height: 1;    
  text-decoration: none;
  font-size: 0.875rem;
  user-select: none;
  cursor: pointer;
  text-align: center;
  border: none;
  transition: all 0.3s ease 0s;    
  background-color: #67ffc8;;
  border-radius: 999px;
  color: black;
}

.close_btn {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;    
  line-height: 1;
  margin: 0px;
  margin-left: .5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-decoration: none;
  font-size: 0.875rem;
  user-select: none;
  cursor: pointer;
  text-align: center;
  border: none;
  transition: all 0.3s ease 0s;
  height: 24px;
  background-color: transparent;
  color: #b0b0b5;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  width: 24px;
  border-radius: 4px;
}

.close_btn svg {
  color: #89898e;
  transition: color .3s ease-in-out
}
.close_btn:hover svg {
  color: red;
}


.options_btn {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  font-weight: 500;
  line-height: 1;
  margin: 0px;
  margin-right: .5em;
  text-decoration: none;
  font-size: 0.875rem;
  user-select: none;
  cursor: pointer;
  text-align: center;
  border: none;
  transition: all 0.3s ease 0s;
  height: 24px;
  background-color: transparent;
  color: #b0b0b5;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  width: 24px;
  border-radius: 4px;
}

.assign_btn {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  font-weight: 500;
  line-height: 1;
  margin: 0px;
  text-decoration: none;
  font-size: 0.875rem;
  user-select: none;
  cursor: pointer;
  text-align: center;
  border: none;
  transition: all 0.3s ease 0s;
  height: 24px;
  background-color: transparent;
  color: #b0b0b5;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  width: 24px;
  border-radius: 4px;
}




