.profile_form_View {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: #0f1113;  
}



.tab_menu {
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(255, 255, 255, 0.47);  
}

.heading {
  border-radius: 8px 0 0 0;
  padding: .5rem .75rem;
  font-size: 3.5rem;  
  color: var(--site-text-color);
}


.tab_list {
  display: flex;
  flex-direction: column;
  gap: .5rem;  
}

.tab_list_item {
  position: relative;
  padding: .5rem .75rem;
  font-size: 1.5rem;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  transition: color .3s ease-in-out;
}
.tab_list_item:hover {
  color: var(--site-primary-color);
}
.tab_list_item.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;  
  background-color: var(--site-accent-color-1);    
}

.tab_menu_view {
  position: relative;
  flex: 1;
  border-radius: 0 8px 8px 0;  
}

h1.profile_form_heading {
  background: linear-gradient(120deg, var(--site-primary-color), var(--site-accent-color-1));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
}


/* PROFILE FORM STYLES */
.profile_form {
  position: relative;
  width: 100%;
  height: 100%;;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: .75rem 1rem;
  text-align: center;
}



/* GENERAL PROFILE FORM */
.general {
  /* padding-left: 2rem; */
  background-color: #0f6ed4;
}

.general_form {
  display: flex; 
  flex-direction: column;   
  flex:1;  
}
.form_content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex:1;  
}

.fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .75rem;
  flex: 1;
  font-size: 1rem;
}



.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex: 1;
  padding-top: 0;
}
.avatar_container {
  background-color: #F49F0A;
  border-radius: 50%;
  height: 175px;
  width: 175px;
}

.form_controls {
  display: flex;
  gap: 1.75rem;
  padding: .75rem;
  justify-content: center;
}
.form_controls > .main_button { 
  flex: 1;
}
.main_button {
  padding: 0;
  padding: .75rem 2rem;
  margin: 0;
  border-radius: 5px;
  background-color: var(--site-primary-color);
}
.main_button.outline {
  border: 1px solid var(--site-primary-color);
  background-color: transparent;
}