/* CSS RESET START */
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
  line-height: 1.3;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Box sizing rules */
html {
  hanging-punctuation: first last;
  color-scheme: dark light;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* , *:before, *:after{ 
  box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  -ms-box-sizing:border-box;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100svh;
  text-rendering: optimizeSpeed;
  font-size: 16px;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  :has(:target) {
    scroll-behavior: smooth;
  }
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}
/* CSS RESET END */


/*

font-family: 'Archivo Black', sans-serif;
font-family: 'Lilita One', sans-serif;
font-family: 'Passion One', sans-serif;
font-family: 'Roboto', sans-serif;

*/


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color-scheme: light dark;

  --default-text-color: hsl(218, 44%, 95%);
  --default-background-color: hsl(210, 40%, 2%);
  --default-primary-color: hsl(219, 42%, 50%);
  --default-secondary-color: hsl(260, 43%, 26%);
  --default-accent-color: hsl(272, 43%, 40%);

  
  
  
    
  --site-background-color: var(--default-background-color);
  --site-panel-background-color: hsla(219, 42%, 50%, 0.2);
  --site-text-color: var(--default-text-color);
  --site-sub-text-color: hsl(213, 6%, 70%);
  --site-primary-color: var(--default-primary-color);
  --site-secondary-color: var(--default-secondary-color);
  --site-accent-color-1: var(--default-accent-color);
  
  --task-status-complete-color: rgba(68,214,44,1);
  --task-status-holding-color: rgba(255,173,0,1);
  --task-status-seen-color: rgba(0, 150, 255,1);
  --task-status-delayed-color: rgba(255, 49, 49,1);
  --task-status-started-color: rgba(255, 240, 31,1);
  --task-status-new-color: rgb(255, 255, 255);

  
  --alt-clr-1: #43C59E;
  --alt-clr-2: #D81159;
  /* --alt-clr-3: #51255c; */
  /* --alt: #373a44; */
  --alt-clr-3: #701F84;
  --alt-clr-4: #F49F0A;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}


body {  
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--site-background-color);
  color: var(--site-text-color);  
}

* , *:before, *:after{ 
  box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  -ms-box-sizing:border-box;
}

h1 {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

button {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  inline-size: fit-content;
  touch-action: manipulation;
  user-select: none;
}




ul {
  padding: 0;
  margin: 0;
}


.visually_hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}


/* KEY FRAME ANIMATIONS */

@keyframes wiggle {
  0%, 75%, 80%, 100% {
    transform: rotate(0deg);
  }
  76%, 78% {
    transform: rotate(-4deg);
  }
  77%, 79% {
    transform: rotate(4deg);
  }
}

@keyframes show-error {
  0% {
    transform: translate(-50%, -100%) scale(0);
  }
}

@keyframes wave {
  50% {
    transform: translateY(-50%);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  } 
  20%, 40%, 60%, 80% {
    transform: translateX(-2%);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(2%);
  }
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
